@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 19, 65);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    background-color: rgb(33, 33, 63);
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.search {
    background-color: transparent;
    border: 2px solid rgb(22, 19, 65);
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: rgb(121, 121, 122);
}

.search:focus {
    background-color: rgb(22, 19, 65);
    outline: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: rgb(33, 33, 63);
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow:  hidden;
    margin: 1rem;
    width: 300px;
    
}

.movie img { 
    width: 100%; 
}

.movie-info {
    
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: rgb(28, 28, 61);
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green {
    color: green;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    background-color: #fff;
    position: absolute;
    padding: 2rem;
    max-height: 100vh;
    overflow: auto;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}

